<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @comentario.user.email %>
</p>

<p>
  <strong>Post:</strong>
  <%= @comentario.post.titulo %>
</p>

<p>
  <strong>Cuerpo:</strong>
  <%= @comentario.cuerpo %>
</p>

<p>
  <strong>Fecha creacion:</strong>
  <%= @comentario.fecha_creacion %>
</p>

<%= link_to 'Edit', edit_comentario_path(@comentario) %> |
<%= link_to 'Back', comentarios_path %>
