<p id="notice"><%= notice %></p>

<p>
  <strong>Categoria:</strong>
  <%= @post.categoria_post.nombre %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user.email %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= @post.titulo %>
</p>

<p>
  <strong>Contenido:</strong>
  <%= @post.contenido %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @post.fecha %>
</p>

<p>
  <strong>Imagen:</strong>
  <%= @post.imagen %>
</p>
<br>
<h1>Comentarios</h1>
<%= @post.comentarios.each do |comentario| %>
    <label>Comentario #:</label><%= comentario.id %><p>
    <label>Cuerpo:</label><p><%= comentario.cuerpo %>
<% end %>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
